@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

*{
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    background-color: #5f2c82;
}
main{
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    background-color: white;
    width: 300px;
    height: 90vh;
    border-radius: 15px;


    /*background-image: url('../imagens/metal.jpg');
    background-position: left center;
    background-size: cover; */

}

section{
    
}